/* mainBanner */
#subBanner {
    /* background-image: url(''); */
    background-color: #a9a9a9; /* 이미지 대체용(임시) */
}

/* containerBox */
.containerBox { margin-bottom: 190px; }
.containerBox>.contents { padding-top: 131.8px; position: relative; }

.text { font-size: 30px; text-align: center; font-weight: bold; z-index: 1; position: absolute; left: 50%; transform:translateX(-50%); }
.line { border: 0px; width: 162.8px; height: 35.88px; background-color: #D7D7D7; z-index: 0; position: absolute; left: 50%; transform:translateX(-50%); margin-top: 21.5px; }

/* 가격 contents */
.innerContainer { width: 100%; height: 409px; background-color: #f7f7f7; margin-top: 104px; }
.containerBox>.innerContainer>.contents { text-align: center; padding-top: 23px; }
.containerBox>.innerContainer>.contents>.contents-intro { display: inline-block; }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-img-ring { display: inline-block; width: 160px; height: 160px; background-color: #d6d6d6; /*background-img: url();*/ }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-img-bracelet { display: inline-block; width: 160px; height: 160px; background-color: #d6d6d6; /*background-img: url();*/ }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-text-ring { font-size: 21px; margin-top: 30px; }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-text-bracelet { font-size: 21px; margin-top: 30px; }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-price-ring { font-size: 30px; font-weight: bold; margin-top: 21px; }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-price-bracelet { font-size: 30px; font-weight: bold; margin-top: 21px; }
.containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-line { width: 1px; height: 297px; background-color: #564E4B; margin-left: 164.5px; margin-right: 164.5px; }
.containerBox>.innerContainer>.contents>.contents-intro:first-child, .containerBox>.innerContainer>.contents>.contents-intro:last-child { width: 230px; height: 300px; }

/* 오시는 길 contents-detail(위치, 이용시간, 연락처) */
#wrapper>.container { padding-bottom: 220px; }
.container>.contents>.contents-detail { padding-top: 140px; }
.contents-text { margin-top: 44px; text-align: center; font-size: 16px; }
.contents-text>.detail-text { line-height: 35px; }

.list-location, .list-info, .list-tel { margin-left: 200px; font-size: 16px; display: inline-block; width: 100%; }
.list-location>dt, .list-info>dt, .list-tel>dt { float:left; }

.list-location>dd>span:first-child { margin-bottom: 17px; }
.list-tel>dd>span:first-child { margin-right: 40px;}
.list-tel>dd>span:last-child { margin-left: 40px;}
.list-location>dd>span { display: block; }
.list-location>dd { margin-left: 135px; }
.list-info>dd { margin-left: 135px; }
.list-tel>dd { margin-left: 135px; }

.container>.contents>.contents-detail>hr { border: 0px; height: 1px; background-color: #D7D7D7; margin-top: 31.5px; margin-bottom: 31.5px; }

/* 오시는 길 contents-box(지도) */
.container>.contents>#map { height: 409px;   margin-top: 64.5px; }



@media screen and (max-device-width: 812px) {

    .line { display: none;}

    #subBanner { height: 149px; }

    #subBanner .contents .contents-box .contents-tit { /*반지 문구*/
        color: black;
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        position: relative;
        right:30px;
        bottom: -25px;
    }
    
    h2.text { margin: 0 auto; position: relative; text-align: center; top: -10px; left: 180px; font-size: 20px; } /* 가격 문구 */

    .innerContainer { display: flex; background-color: #00ff0000; position: relative; right:130px; top: -80px;}  /* .innerContainer flex*/
    
    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-text-ring { font-size: 16px;} /* 반지 크기 text*/

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-img-ring { width: 195px; height: 194px;} /* 반지 이미지 */

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-price-ring { font-size: 26px;} /* 반지 가격 text */

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-line{ width: 300px; height: 0.1px; position: relative; top: 90px;} /* 선*/

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-img-bracelet { /* 팔찌 이미지 */ 
        width: 195px;
        height: 194px;
        position: relative; 
        top:200px;
    } 

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-text-bracelet { /* 팔찌 크기 text*/
        font-size: 16px;
        position: relative;
        top: 230px;
    } 

    .containerBox>.innerContainer>.contents>.contents-intro>.contents-intro-price-bracelet { /* 팔찌 가격 text */
        font-size: 26px;
        position: relative;
        top: 241px;
    }

    

    .contents-text>.detail-text { position: relative; text-align: center; bottom: -500px; left:-10px; font-size: 12px;} /* 탄생석 text */

    .container>.contents>.contents-tit>.text { position: relative; top: 420px; left: 170px;} /* 오시는길 text*/

    /* 위치 소개 배치 맞추기 */

    .container>.contents>.contents-detail { position: relative; bottom: -330px; right: 170px; }
    
    .location { font-size: 14px; position: relative; left: 25px; }
    .location-1{ font-size: 14px; position: relative; right: 40px; }

    .time { font-size: 14px; position: relative; left: 20px; }
    .break-time { font-size: 14px; position: relative; right: 40px; }

    .phone-number { font-size: 14px; position: relative; left: 20px; }

    .phone-number-1 { font-size: 14px; position: relative; right: 40px }
    .phone-number-2 { display: none;}
    .phone-number-3 { font-size: 14px; position: relative; right: 205px; top:40px; }


    /*map*/

    #map {  position: relative; top: 350px; right: 15px; width: 375px; height: 499px;} 

    .site-footer { height: 337px; position: relative; bottom: -300px;} /*footer 위치 잡기*/
    
    /* footer text 잡기 */
    
    .company-name { display: none;}

    .company-number { font-size: 13px; position: relative; right: 168px; word-spacing: 50px;}
    .report-number { font-size: 13px; position: relative; right: 168px; top:-5px; word-spacing: 8px; }
    .call-number { font-size: 13px; position: relative; right: 488px; top:90px; word-spacing: 8px;}
    .information { font-size: 13px; position: relative; right: 488px; top: 80px;}
    .social-icons { position: relative; right: 758px; top: 180px;} 

}
