/* mainBanner */
#subBanner {
    background-image: url("../img/submain-web.png");
}

#subBanner>.contents>.contents-box {}

/* container */
.container { padding-bottom: 220px; }
.site-footer>.container { padding-bottom: 0px; }

/* 반지, 팔찌 버튼 공통 속성 */
.container>.contents:first-child { padding-top: 135px; text-align: center; padding-bottom: 113.5px; }
.container>.contents>.selectBtn { width: 290px; height: 75px; font-size: 24px; font-weight: bold; border: 0; border-radius: 0px; }

/* 디자인 소개 */
.container>.contents>.contents-detail { margin-bottom: 7.5px; padding-left: 10px; }
.container>.contents>.contents-detail>span { font-size: 16px; }

.container>.designView { width: 1210px; margin: 0; }
.container>.designView>.designList { text-align: center; margin: 0 auto; }
.container>.designView>ul>li { display: inline-block; padding: 10px; margin-bottom: 45px; }
.container>.designView>ul>li>dl>dt { padding-bottom: 10px; }
.container>.designView>ul>li>dl>dd { margin-left: 0px; text-align: center; }
.container>.designView>ul>li>dl>dd>span { font-size: 16px; }

/* banner text */
#subBanner>.contents>.contents-box>.contents-tit { color: white; }

#mobile-nav { display: none; }

.site-footer>.container>.contents { padding: 0; } 
.footer-text2, .footer-text3 { text-align: left; }

@media screen and (max-device-width: 812px) {
    .container { padding-bottom: 0px; }
    #subBanner { height: 149px; margin-top: 40px; background-image: url("../img/submain-mobile.png"); }
    #subBanner>.contents>.contents-box { padding-left: 23px; padding-top: 52px; }
    #subBanner>.contents>.contents-box>.contents-tit { color: black; font-size: 21px; }

    .container>.contents:first-child { padding-top: 58px; padding-bottom: 96px; }
    .container>.contents>.selectBtn { width: 164.5px; height: 58px; font-size: 18px; text-align: center; } 
    .container>.contents>.contents-detail { margin-bottom: 2px; }
    .container>.contents>.contents-detail>span { font-size: 14px; }
    .container>.designView { width: 100%; }
    .container>.designView>ul>li { margin-bottom: 26px; padding: 7.5px; }
    .container>.designView>ul>li:last-child { margin-bottom: 26px; }
    .container>.designView>ul>li>dl>dt>img { width: 157.5px; height: 157.5px; }

    /* nav */
    #mobile-nav { display: block; padding-top: 0px; padding-bottom: 0px; }
    .navbar-light .navbar-toggler { float: right; padding-right: 3px; }
    #web-nav { display: none; }
    .site-footer>.container>.contents { padding: 0;}

    /* design footer 별개 수정 */

    .company-number { margin-right: 80px; }

    .report-number  { margin-right: 50px; }

    .call-number { transform:translateX(-30%); }

    .information { transform:translateX(-30%); }

}