/* mainBanner */
#subBanner {
    /* background-image: url(''); */
    background-color: #a9a9a9; /* 이미지 대체용(임시) */
}

/* 반지, 팔찌 버튼 공통 속성 */
.container>.contents:first-child { padding-top: 135px; text-align: center; padding-bottom: 113.5px; }
.container>.contents>.selectBtn { width: 290px; height: 75px; font-size: 24px; font-weight: bold; border: 0; }

/* 디자인 소개 */
.container>.contents>.contents-detail { margin-bottom: 7.5px; }
.container>.contents>.contents-detail>span { font-size: 16px; }

.container>.designView { width: 1210px; margin: 0 auto; text-align: center;}
.container>.designView>ul>li { display: inline-block; padding: 10px; margin-bottom: 45px; }
.container>.designView>ul>li>dl>dt { padding-bottom: 10px; }
.container>.designView>ul>li>dl>dd { margin-left: 5px; text-align: left; }
.container>.designView>ul>li>dl>dd>span { font-size: 16px; }