/* navigation - about, design */
#web-nav {
    background-color: #ffffff;
}

.navli {
    color: #000000 !important;
}

.wrapper {
    padding-top: 75px;
}

/* subBanner */
#part0 { background-image: url('../img/submain-web.png'); background-position: center center; background-repeat: no-repeat; }
.text { padding-top: 144px; padding-bottom: 144px; color: white; padding-left: 55px; }
.text>h1 { font-size: 40px; }

/* 반지, 팔찌 버튼 */
#part1 { padding-top: 134px; padding-bottom: 111.5px; }
.row { display: flex; justify-content: center; align-items: center; }
.selectBtn { width: 290px; height: 75px; font-size: 24px; font-weight: bold; border: 0; border-radius: 0px; padding: 0; }

/* 반지, 팔찌 이미지 */
#part2 { padding-bottom: 250px; }
p { font-size: 16px; }
.designView { margin: 0; }
.designView>.designList { text-align: center; margin: 0 auto; }
.designView>ul>li { display: inline-block; padding: 10px 5px 35px 5px; }
.designView>ul>li:last-child { display: none; }
.designView>ul>li>dl>dt { padding-bottom: 10px; width: 380px; height: 390px; }
.designView>ul>li>dl>dt>img { width: 100%; height: 100%; }
.designView>ul>li>dl>dd { margin-left: 0px; text-align: center; }
.designView>ul>li>dl>dd>span { font-size: 16px; }


/* Tablet and Mobile*/
@media screen and (max-width: 1023px) {
    .wrapper { padding: 0; }
}

/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1199px) {
    .designView>ul>li { width: 33.33%; height: auto; padding-left: 0px; padding-right: 0px; }
    .designView>ul>li>dl>dt { width: 100%; height: 100%; padding-bottom: 0px; }
}
/* Mobile */
@media screen and (max-width: 640px) {
    #part0 { background-size: auto 150px; }
    .text { padding-top: 67px; padding-bottom: 35px; font-size: 20px; color: white; padding-left: 0px; }
    .text>h1 { font-size: 20px; }

    /* 반지, 팔찌 버튼 */
    #part1 { padding-top: 57px; padding-bottom: 90px; }
    .selectBtn { width: 50%; height: 58px; font-size: 18px; }
    /* 반지, 팔찌 이미지 */
    #part2 { padding-bottom: 150px; }
    p { font-size: 14px; }
    .designView>ul>li:last-child { display: inline-block; visibility: hidden; }
    .designView>ul>li { width: 50%; height: auto; padding-left: 0px; padding-right: 0px; }
    .designView>ul>li>dl>dt { width: 100%; height: 100%; padding-bottom: 0px; }
}