.site-footer { background-color: #564e4b; color: rgb(255, 255, 255); height: 280px; }
.site-footer>.container { height: inherit; }

.footer-text1{ position: relative; top: 100px; left: 150px; font-weight: bolder;}

.footer-text2{ position: relative; top: 90px; left: 250px; line-height: 50px;}

.footer-text3{ position: relative; top: 90px; left: 350px; line-height: 50px;}

.li1{ position: relative; top: 100px; left: 450px; display: inline; list-style-type: none; padding-right: 10px ;}

.li2{ position: relative; top: 100px; left: 450px; display: inline; list-style-type: none;}

@media screen and (max-device-width: 812px) {
    .site-footer { height: 337px; position: relative; bottom: -300px;} /*footer 위치 잡기*/

    /* footer text 잡기 */
    .footer-text1{ display: none;}

    .footer-text2{ font-size: 13px; ;  margin-top: -30px; margin-left: -150px;  word-spacing: 5px;}

    .footer-text3 {font-size: 13px;  margin-top: 70px; margin-left: -305px; word-spacing: 5px;}

    .footer-text4 {margin-top: 180px; margin-left: -260px; }
}