#part1>.container { height: 100vh; justify-content: center; display: flex; flex-flow: column; }
.lettering { position: absolute; top: 0; left: 10vw; background-size: contain; background-repeat: no-repeat; width: auto; height: 100vh; }

/* Text */
#part1 { width: 100%; height: 100vh; background-image: url('../img/index-img/background.png'); background-position: center center; background-repeat: no-repeat; background-size: cover; }
.text { text-align: center; color: white; margin-bottom: 180px; }
.text>p { font-size: 26px; }
.text>p:first-child { margin-bottom: 15px; }
.text>h1 { font-size: 75px; margin-bottom: 15px; font-weight: bold; }

/* Button */
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box>div:first-child {
    margin-right: 17vw;
}
.button { width: 328px; height: 82px; }
.linkBtn { width: 100%; height: 100%; font-size: 18px; border: 1.5px solid white; background-color: rgba(255, 255, 255, 0.3); color: white; border-radius: 0px; }

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .box>div:first-child { margin-right: 10vw; }
}

/* Tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .text { margin-bottom: 120px; }
    /* Button */
    .box>div:last-child { margin-bottom: 80px; }
    .button { width: 255px; height: 70px; }
}

/* Tablet and Mobile*/
@media screen and (max-width: 1023px) {
    #part1 { background-position: 50% 80%; }
    .lettering { width: 30%; height: 100vh; background-size: cover; }
    .lettering { left: 50%; transform: translate(-50%); }
    .text>p:first-child { margin-bottom: 10px; }

    /* Button */
    .box {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column-reverse;
    }
    .box>div:first-child { margin-right: 0; }
    .linkBtn { font-size: 19px; }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .lettering { min-width: 150px; }
    .text { margin-bottom: 100px; }
    .text>h1 { font-size: 43px; margin-bottom: 10px; }
    .text>p { font-size: 16px; }
    /* Button */
    .box>div:last-child { margin-bottom: 45px; }
    .button { width: 208px; height: 56px; }
    .linkBtn { font-size: 16px; }
}

@media screen and (max-width: 360px) {
    .text>h1 { font-size: 35px; margin-bottom: 10px; }
    .text>p { font-size: 13px; }
    /* Button */
    .box>div:last-child { margin-bottom: 30px; }
    .button { width: 170px; height: 46px; }
    .linkBtn { font-size: 13px; }
}