
#mainBanner {
    height: 100vh;
    /* background-image: url(''); */
    background-color: #EBEBEB; /* 이미지 대체용(임시) */
    position: relative;
}

#mainBanner>.contents>.contents-box { padding-left: 500px; }
.contents-box>.contents-tit { color: white; font-size: 53.74px; margin-bottom: 58px; }

.reserveBtn { 
    width: 113px; 
    height: 52px; 
    font-size: 16px; 
    border: 2px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
}

.order { background-color: #FAFAF8; height: 100vh; }

/* .img-contents { overflow-x: scroll; } */

#publicity { height: 539px; background-color: grey;}

#map-setion { height: 100vh; background-color: #FAFAF8;}

#footer { height: 297px; background-color: #272726;}

.order-text { text-align: center; position: absolute; left: 70%; transform:translateX(-50%); padding-top: 100px; margin-top: -150px;}

.product-name { margin-top: 10px;}

.cell { margin-bottom: 100px;}

#publicity>.contents>.contents-box>.publicity-text { text-align: center; padding-top: 235.7px;}

.text { 
    text-align: center; 
    position: absolute; 
    left: 50%; 
    transform:translateX(-50%); 
    padding-top: 100px;
}


.map-text {  margin: 0 auto; position: relative; top: 120px; left: 40%; display: inline-block;  transform:translateX(70%); transform:translateY(120%); }
#map{ margin: 0 auto; transform:translateX(70%); transform:translateY(80%); height: 300px; width: 1000px;}

.top { margin: 0 auto; position: relative; top: 500px; left: 50%; transform:translateX(90%); transform:translateY(10%); }


/* 내용 보기 */
.down-btn { position: absolute; right: 900px; left: calc(50% - 25px); bottom: 10px; width: 50px; height: 50px; }
.down-btn>img { width: 50px; background-color: rgba(0,0,0,0); }

/* 우리 반지카페 8그램은 */
#onepage>.container>.contents { padding-top: 176px; padding-bottom: 148px; }
.container>.contents>.contents-tit { font-size: 36px; text-align: center; padding-bottom: 68px; margin: 0; }
.container>.contents>.contents-detail { font-size: 25px; text-align: center; }

.contents-tit-mobile { display: none; color: white; }

/* 순서도 시작 */
.con { width:auto; margin-left: auto; margin-right: auto; }

.con .list1 { background-color: #FAFAF8; height: 100vh; }

.img-box > img { display:block; width:100%; }

.img-box-hidden > img { display:block; width:100%; }

.cell { float:left; box-sizing:border-box; }

.row::after { content:""; display:block; clear:both; }

/* 커스텀 시작 */
.con { max-width:1000px;}

.list1 .cell { width:300px; padding-left:30px; padding-right:-20px; margin-top:20px; }

.list1 .row { margin-left:-10px; margin-right:-10px; }

.row { top: 800px;}

.img-box-hidden { visibility: hidden; }

@media screen and (max-device-width: 812px) {
    #mainBanner {padding-left: 38px; padding-right: 38px; }
    #mainBanner>.contents>.contents-box { padding-left: 0px; text-align: center; }
    #mainBanner>.contents>.contents-box>.contents-tit-mobile { text-align: center; font-size: 20px; display: block; margin: 0; padding-bottom: 150px; }
    #mainBanner>.contents>.contents-box>.contents-tit-mobile>span { font-size: 40px; }
    #mainBanner>.contents>.contents-box>.contents-tit { display: none; }
    
}


/* 순서도 */
@media ( max-width:812px ) {
    .list1 .cell {
        width:50%;
    }

    .img-box-hidden { display: none; }

    .list1 .cell { width:300px; padding-right:30px; margin-top:20px; }

    .order-text { text-align: center; position: absolute; left: 50%; transform:translateX(-50%); padding-top: 100px; margin-top: -30px;}

    .product-name { margin-top: 10px;}
}

@media ( max-width:650px ) {
    .list1 .cell {
        width:100%;
 }
}

.copy { text-align:center; }

.top-bn-box > .img-box { margin-left:-50%; }

.top-bn-box { overflow:hidden; }

