#part1>.container { height: 100vh; justify-content: center; display: flex; flex-flow: column; }
.lettering { position: absolute; top: 0; left: 10vw; background-image: url('../img/index-img/lettering.png'); background-size: contain; background-repeat: no-repeat; width: 279px; height: 100vh; }

/* Text */
#part1 { width: 100%; height: 100vh; background-image: url('../img/index-img/background.png'); background-position: center center; background-repeat: no-repeat;}
.text { text-align: center; color: white; margin-bottom: 180px; }
.text>p { font-size: 26px; }
.text>p:first-child { margin-bottom: 15px; }
.text>h1 { font-size: 75px; margin-bottom: 15px; font-weight: bold; }

/* Button */
.row { text-align: center; }
.linkBtn { width: 100%; height: 82px; font-size: 18px; border: 1.5px solid white; background-color: rgba(255, 255, 255, 0.3); color: white; border-radius: 0px; }

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .linkBtn { width: 255px; height: 70px; }
}

/* Tablet and Mobile*/
@media screen and (max-width: 1023px) {
    #part1 { background-position: 50% 80%; }
    .lettering { width: 219px; }
    .lettering { left: 50%; transform: translate(-50%); }
    .text { margin-bottom: 120px; }
    .text>p:first-child { margin-bottom: 10px; }
    .col:first-child { margin-bottom: 55px; }
    .row>div:first-child { margin-bottom: 55px; }

    .col-sm-4 { flex: none; max-width: none; }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .lettering { width: 173px; }
    .text>h1 { font-size: 43px; margin-bottom: 10px; }
    .text>p { font-size: 16px; }
    /* Button */
    .linkBtn { width: 208px; height: 56px; font-size: 16px; }
}
