
#mainBanner {
    height: 100vh;
    background-image: url("../img/main.png");
    /*background-color: #EBEBEB; /* 이미지 대체용(임시) */
    position: relative;
}

#mainBanner>.contents>.contents-box { padding-left: 500px; }
.contents-box>.contents-tit { color: white; font-size: 53.74px; margin-bottom: 58px; }

.reserveBtn { 
    width: 113px; 
    height: 52px; 
    font-size: 16px; 
    border: 1.5px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}


.order { background-color: #FAFAF8; height: 100vh; }


/* .img-contents { overflow-x: scroll; } */

#publicity { height: 587px; /*background-color: grey;*/ background-image: url("../img/index-img/main_Banner.png"); margin-bottom: 150px; }

#order { padding-bottom: 180px; }

#map-setion { height: 80vh; /*background-color: #FAFAF8;*/}

#footer { height: 297px; background-color: #272726;}

.order-text { text-align: center; position: absolute; left: 70%; transform:translateX(-50%); z-index: 1; padding-top: 100px; margin-top: -150px;}

.product-name { margin-top: 10px;}

.cell { margin-bottom: 100px;}

.line { border: 0px; width: 341px; height: 50px; background-color: #e8e5de; z-index: 0; position: absolute; left: 70%; transform:translateX(-50%); margin-top: -56px; }
.img-contents>.con { margin-right: 270px; }

#publicity>.contents>.contents-box>.publicity-text { text-align: center; padding-top: 235.7px; color: white; font-size: 38.4px; }

.text { 
    text-align: center; 
    position: absolute; 
    left: 50%; 
    transform:translateX(-50%); 
    padding-top: 100px;
}

.map-text { margin: 0 auto; text-align: center; margin-left: 40%; margin-top: 100px; padding:0; display: inline-block;  transform:translateX(70%); transform:translateY(120%); }
#map{ margin: 0 auto; transform:translateX(70%); transform:translateY(45%); height: 300px; width: 1000px;}

.top { text-align: center; margin-top: 230px;}


/* 내용 보기 */
.down-btn { position: absolute; right: 900px; left: calc(50% - 25px); bottom: 10px; width: 50px; height: 50px; background-color: #00ff0000; }
.down-btn>img { width: 50px; background-color: rgba(0,0,0,0); }

/* 우리 반지카페 8그램은 */
#onepage>.container>.contents { padding-top: 130px; padding-bottom: 200px; }
.container>.contents>.contents-tit { font-size: 36px; text-align: center; padding-bottom: 68px; margin: 0; }
.container>.contents>.contents-detail { font-size: 25px; text-align: center; }

.contents-tit-mobile { display: none; color: white; }



/* 순서도 시작 */
.con { width:auto; margin-left: auto; margin-right: auto; }

.con .list1 { background-color: #FAFAF8; height: 100vh; }

.img-box > img { display:block; width:100%; }

.img-box-hidden > img { display:block; width:100%; }

.cell { float:left; box-sizing:border-box; }

.row::after { content:""; display:block; clear:both; }

/* 커스텀 시작 */
.con { max-width:1000px;}

.list1 .cell { width:300px; padding-left:30px; padding-right:-20px; margin-top:20px; }

.list1 .row { margin-left:-10px; margin-right:-10px; }

.Myeongjo.text { text-align : center; z-index: 1; margin-top: -20px;  margin-left: -15px;}

.img-box-hidden { visibility: hidden; }

.fab, .fas { color: white;}

.fa-arrow-up { color: black;}

.line-map {  border: 0; width: 162.7px; height: 35.9px; background-color: #e8e5de; z-index: 0; position: absolute;  margin-left: 45%; margin-top: 90px; }

#mobile-nav { display: none; }

/* Banner Text */
#mainBanner>.contents>.contents-box>.contents-tit { color: white; font-weight: bold; }

.place { font-size: 18px;  }

.subway {font-size: 14px; color: #acacac;}

#intro { /*background-image: url("../img/index-img/text.png");*/ }
#intro>.contents { background-image: url(../img/index-img/text.png); background-repeat: no-repeat; }

#intro-pic>.contents { padding-bottom: 300px; }

.container>.contents>.photo-web { width: 284px; height: 529px; display: inline-block; margin-right: 9px; }
.container>.contents>.photo-web>img { width: 100%; height: 100%; }
.container>.contents>.photo-web:last-child { margin-right: 0px; }
.container>.contents>.intro-tit { margin-bottom: 120px; }
.container>.contents>.intro-tit>.intro-text { font-size: 30px; padding-left: 47px; }
.container>.contents>.intro-tit>.intro-line { width: 340px; height: 70px; background-color: #e8e5de; margin: 0px; margin-top: -45px; }
.container>.contents>.photo-mobile { display: none; }

.mobile { display: none; }
.publicity-text-mobile { display: none; }

@media screen and (max-device-width: 812px) {
    .container { padding-left: 0; padding-right: 0; }
    #mainBanner {padding-left: 38px; padding-right: 38px; background-image: url("../img/main_mobile.png");}
    #mainBanner>.contents>.contents-box { padding-left: 0px; text-align: center; }
    #mainBanner>.contents>.contents-box>.contents-tit { display: none; }
    #mainBanner>.contents>.contents-box>.contents-tit-mobile { text-align: center; font-size: 20px; display: block; margin: 0; padding-bottom: 120px; font-weight: bold; line-height: 50px; }
    #mainBanner>.contents>.contents-box>.contents-tit-mobile>span { font-size: 40px; }    

    .map-text { margin-left: 50px; margin-top: 90px; text-align: center;}

    #map{ margin: 0 auto; transform:translateX(50%); transform:translateY(35%); height: 452px; width: 375px;}

    .reserveBtn { border: 1.5px solid white; color: white; width: 140px;  }

    .order-text { text-align: center; font-size: 26px; }

    .line-map { margin-left: 131px; z-index: 0; width: 114px; height: 26px; }

    .Myeongjo.text { text-align : center; z-index: 1; font-size: 21px; margin-left: 0px;}

    .top { text-align: center; margin-top: 300px;}
    
    .place { font-size: 14px;  }

    .subway {font-size: 12px; }


    /* nav */
    #mobile-nav { display: block; padding-top: 0px; padding-bottom: 0px; }
    .navbar-light .navbar-toggler { float: right; padding-right: 3px; }
    #web-nav { display: none; }


    .container>.contents>.contents-tit { font-size: 20px; text-align: center; padding-bottom: 68px; margin: 0; }
    .container>.contents>.contents-detail { font-size: 17px; }
    .web { display: none; }
    .mobile { display: block; }

    .container>.contents>.intro-tit>.intro-text { font-size: 20px; }
    .container>.contents>.intro-tit>.intro-line { margin-left: 20px;  width: 222px; height: 50px; }
    .container>.contents>p { margin-left: 20px; }

    .container>.contents>.photo-web { display: none; }
    .container>.contents>.photo-mobile { display: block; }
    .container>.contents>.photo-mobile { width: 374px; height: 257.5px; margin-bottom: 15px; }

    #intro-pic>.contents { padding-bottom: 100px; }
    .publicity-text { display: none; }
    #publicity>.contents>.contents-box>.publicity-text-mobile { display: block; text-align: center; padding-top: 84px; color: white; font-size: 22px; line-height: 35px; }
    #publicity { height: 280px; }
    #publicity { margin-bottom: 30px; }
    #order { padding-bottom: 0px; }
}
/* 순서도 */
@media ( max-width:812px ) {
    .list1 .cell {
        width:50%;
    }

    .img-box-hidden { display: none; }

    .list1 .cell { width:300px; margin-left:-20px; margin-top:20px; }

    .img-box { width: 375px;}

    .order-text { text-align: center; position: absolute; left: 50%; transform:translateX(-50%); padding-top: 100px; margin-top: -40px;}

    .product-name { margin-top: 10px;}

    .line { display: none; }
}

@media ( max-width:650px ) {
    .list1 .cell {
        width:100%;
 }
}

@media ( max-width:1920px ) { 
    .header { width : 1920px;} 
}


.copy { text-align:center; }

.top-bn-box > .img-box { margin-left:-50%; }

.top-bn-box { overflow:hidden; }

