
#mainBanner {
    height: 100vh;
    /* background-image: url(''); */
    background-color: #EBEBEB; /* 이미지 대체용(임시) */
}

.contents-box { padding-left: 197px; }
.contents-tit { color: white; font-size: 53.74px; margin-bottom: 58px; }

.reserveBtn { 
    width: 113px; 
    height: 52px; 
    font-size: 16px; 
    border: 2px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
}

#order { background-color: #FAFAF8; height: 100vh; }

/* .img-contents { overflow-x: scroll; } */

#publicity { height: 539px; background-color: grey;}

#map-setion { height: 100vh; background-color: #FAFAF8;}

#footer { height: 297px; background-color: #272726;}

.order-text { text-align: center; position: absolute; left: 70%; transform:translateX(-50%); padding-top: 100px;}

.publicity-text { text-align: center;  position: absolute; left: 50%; transform:translateX(-50%); padding-top: 250px;}

.text { 
    text-align: center; 
    position: absolute; 
    left: 50%; 
    transform:translateX(-50%); 
    padding-top: 100px;
}

.img-contents { margin: 0 auto;}
.contents-img{ display: inline-block;  margin-right: 30px; transform:translateX(70%); transform:translateY(120%); height: 200px; width: 300px; background-color: grey;}
.contents-img1{ display: inline-block; margin-right: 30px;  transform:translateX(40%); transform:translateY(120%); height: 200px; width: 300px; background-color: grey;}
.contents-img2{ display: inline-block; margin: 0 auto; transform:translateX(10%); transform:translateY(120%); height: 200px; width: 300px; background-color: grey;}

.map-text {  margin: 0 auto; position: relative; top: 120px; left: 40%; display: inline-block;  transform:translateX(70%); transform:translateY(120%); }
#map{ margin: 0 auto; transform:translateX(70%); transform:translateY(80%); height: 300px; width: 1000px;}

.top { margin: 0 auto; position: relative; top: 300px; left: 50%; transform:translateX(90%); transform:translateY(10%); }

.slide-ul {
    position: relative;
    top: 300px;
    display: block;
    white-space: nowrap;
    height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}
  
.slide-li {
    box-sizing: border-box;
    height: 250px;
    width: 300px;
    display: inline-block;
    border: 1px solid;
    margin-right: 20px;
}
  
.slide-li:nth-child(4n) { background: #B4B4B4; }
.slide-li:nth-child(4n + 1) {background: #2D2D2D;}
.slide-li:nth-child(4n + 2) { background: #857D68;}
.slide-li:nth-child(4n + 3) { background: #F5F5F5;}
  
section { box-sizing:border-box; }

.down-arrow { position: absolute; left: 700px; top: 650px; }

