#part0 { 
    width: 100%; 
    height: 100vh; 
    background-image: url('../img/main-img/main.png');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;

}

#part0 .container {
    padding-top: 75px;
}

#part0 h1 {
    font-weight: 800;
    color: white;
    padding-bottom: 100px;
    font-size: 53.7px;
}

.reserveBtn { 
    width: 113px; 
    height: 52px; 
    font-size: 16px; 
    border: 1.5px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}

.down-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0);
}

.down-btn i {
    font-size: 20px;
    color: white;
}

#part1 { 
    position: relative;
    padding-top: 130px; 
    padding-bottom: 215px; 
}

#part1>.container { 
    padding-top: 50px; 
    text-align: center; 
    padding-bottom: 70px; 
    background-image: url('../img/main-img/lettering.png');   
    background-size: cover;
}

#part1 h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#part1 .text {
    font-weight: 300;
    line-height: 1.85;
    font-size: 20px;
    margin-bottom: 50px;
}

#part2 {
    padding-bottom: 200px;
}

#part2 h2 {
    font-size: 30px;
    font-weight: bold;
    z-index: 1; 
    line-height: 1.6;
    padding-left: 42px;
}

#part2 .title {
    position: relative;
}

#part2 .tit-line {
    position: absolute;  
    border: 0px; 
    width: 340px; 
    height: 70px; 
    background-color: #e8e5de; 
    z-index: -1; 
    left: 0; 
    top: 32px;
    margin-top: 12px;
    margin-bottom: 0;
}

#part2 .box { padding-top: 160px; }

#part2 .box .image div {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    width: 25%;
    max-width: 280px;
    height: 530px;
    background-position: center center;
}

.img1 { background-image: url('../img//main-img/intro01-web.png'); }
.img2 { background-image: url('../img//main-img/intro02-web.png'); }
.img3 { background-image: url('../img//main-img/intro03-web.png'); }
.img4 { background-image: url('../img//main-img/intro04-web.png'); }

#part2 .detail {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.detail-text {
    font-size: 14px;
    color: #747474;
    margin-right: 15px;
}

.detail-line {
    display: inline-block;
    width: 60px;
    height: 0.2px;
    background-color: #777777;
    margin: 0;
}

#part3 {
    background-color: #fafaf8;
    padding-top: 93px;
    padding-bottom: 175px;
}

#part3 .title {
    position: relative;
    padding-bottom: 100px;
    z-index: 0;
}

#part3 h2 {
    text-align: right;
    font-weight: bold;
}

#part3 .tit-line {
    z-index: -1;
    border: 0px; 
    width: 341px; 
    height: 70px; 
    position: absolute; 
    background-color: #e8e5de; 
    top: -12.5px;
    right: 0; 
    margin: 0;
}

#part3 .box {
    display: flex;
    flex-direction: row;
}

#part3 .box div:not(:last-child) {
    margin-right: 30px;
}

#part3 .step {
    width: 30%;
}

#part3 .step img {
    width: 100%;
}

#part3 .step .text {
    background-color: white;
    padding: 15px 0 15px 17px;
}

#part4 {
    margin-top: 165px;
    height: 568px;
    background-image: url('../img/main-img/main_Banner.png');
    background-position: center center;
    display: flex;
    align-items: center;
}

#part4 h2 {
    font-size: 38.4px;
    font-weight: bold;
    line-height: 1.88;
    text-align: center;
    color: white;
}

#part5 {
    padding-top: 220px;
    padding-bottom: 250px;
}

#part5 .tit { position: relative; }
#part5 .tit-text { font-size: 30px; z-index: 1; position: absolute; left: 50%; transform: translate(-50%); font-weight: bold; }
#part5 .tit-line { 
    border: 0px; 
    width: 163px; 
    height: 36px; 
    position: absolute; 
    background-color: #e8e5de; 
    z-index: 0; 
    left: 50%; 
    transform:translateX(-50%); 
    margin-top: 12px; 
}

#part5 p {
    text-align: center;
}

.address {
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 10px;
}

#part5 .detail {
    font-size: 18px;
    color: #acacac;
    margin-bottom: 41px;
}

#map { height: 494px; margin-top: 63px; }