.mobile {
    display: none;
}

#part0 { 
    width: 100%; 
    height: 100vh; 
    background-image: url('../img/main-img/main.png');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;

}

#part0 .container {
    padding-top: 75px;
}

#part0 h1 {
    font-weight: 700;
    color: white;
    padding-bottom: 100px;
    font-size: 53.7px;
}

.reserveBtn { 
    width: 113px; 
    height: 52px; 
    font-size: 16px; 
    border: 1.5px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

.down-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0);
}

.down-btn i {
    font-size: 20px;
    color: white;
}

#part1 { 
    position: relative;
    padding-top: 130px; 
    padding-bottom: 215px; 
}

#part1>.container { 
    padding-top: 50px; 
    text-align: center; 
    padding-bottom: 70px; 
    background-image: url('../img/main-img/lettering.png');   
    background-size: cover;
}

#part1 h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#part1 .text {
    font-weight: 300;
    line-height: 1.85;
    font-size: 20px;
    margin-bottom: 50px;
}

#part2 {
    padding-bottom: 200px;
}

#part2 h2 {
    font-size: 30px;
    font-weight: bold;
    z-index: 1; 
    line-height: 1.6;
    padding-left: 42px;
}

#part2 .title {
    position: relative;
}

#part2 .tit-line {
    position: absolute;  
    border: 0px; 
    width: 340px; 
    height: 70px; 
    background-color: #e8e5de; 
    z-index: -1; 
    left: 0; 
    top: 32px;
    margin-top: 12px;
    margin-bottom: 0;
}

#part2 .box { padding-top: 160px; }

#part2 .image {
    display: flex;
}

#part2 .box .image div {
    flex: 1;
    flex-direction: row;
    height: 530px;
    background-position: center center;
}

#part2 .box .image div:not(:last-child) {
    margin-right: 20px;
}

.img1 { background-image: url('../img//main-img/intro01-web.png'); }
.img2 { background-image: url('../img//main-img/intro02-web.png'); }
.img3 { background-image: url('../img//main-img/intro03-web.png'); }
.img4 { background-image: url('../img//main-img/intro04-web.png'); }

#part2 .detail {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.detail-text {
    font-size: 14px;
    color: #747474;
    margin-right: 15px;
}

.detail-line {
    display: inline-block;
    width: 60px;
    height: 0.2px;
    background-color: #747474;
    margin: 0;
}

#part3 {
    background-color: #fafaf8;
    padding-top: 93px;
    padding-bottom: 175px;
}

#part3 .title {
    position: relative;
    padding-bottom: 100px;
    z-index: 0;
}

#part3 h2 {
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

#part3 .tit-line {
    z-index: -1;
    border: 0px; 
    width: 341px; 
    height: 70px; 
    position: absolute; 
    background-color: #e8e5de; 
    top: -12.5px;
    right: 0; 
    margin: 0;
}

#part3 .text {
    font-size: 14px;
}

#part3 .box {
    display: flex;
    flex-direction: row;
}

#part3 .box div:not(:last-child) {
    margin-right: 30px;
}

#part3 .step {
    flex: 1;
}

#part3 .step img {
    width: 100%;
}

#part3 .step .text {
    background-color: white;
    padding: 15px 0 15px 17px;
}

#part4 {
    margin-top: 165px;
    height: 568px;
    background-image: url('../img/main-img/main_Banner.png');
    background-position: center center;
    display: flex;
    align-items: center;
}

#part4 h2 {
    font-size: 38.4px;
    font-weight: bold;
    line-height: 1.88;
    text-align: center;
    color: white;
}

#part5 {
    padding-top: 220px;
    padding-bottom: 250px;
}

#part5 .tit { position: relative; }
#part5 .tit-text { font-size: 30px; z-index: 1; position: absolute; left: 50%; transform: translate(-50%); font-weight: bold; }
#part5 .tit-line { 
    border: 0px; 
    width: 163px; 
    height: 36px; 
    position: absolute; 
    background-color: #e8e5de; 
    z-index: 0; 
    left: 50%; 
    transform:translateX(-50%); 
    margin-top: 12px; 
}

#part5 p {
    text-align: center;
}

.address {
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 10px;
}

#part5 .detail {
    font-size: 18px;
    color: #acacac;
    margin-bottom: 41px;
}

#map { height: 494px; margin-top: 63px; }

@media screen and (max-width: 1023px) and (min-width: 641px) {
    #part0 h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 640px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }

    #part0 h1 {
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
        font-weight: 600;
        padding-bottom: 155px;
    }

    #part0 span {
        font-size: 20px;
        font-weight: normal;
    }

    #part0 .box {
        display: flex;
        flex-direction: column;
    }

    .reserveBtn {
        width: 158px;
        height: 53px;
        margin-left: auto;
        margin-right: auto;
    }

    #part1 {
        padding-top: 98px;
        padding-bottom: 130px;
    }

    #part1 .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    #part1 h2 {
        font-size: 20px;
    }

    #part1 .text {
        font-size: 17px;
        margin-bottom: 0;
    }

    #part2 {
        padding-bottom: 100px;
    }

    #part2 .container {
        padding: 0;
    }

    #part2 h2 {
        font-size: 20px;
        text-align: left;
        padding-left: 23px;
        line-height: 1.55;
    }

    #part2 .tit-line {
        width: 222px;
        height: 50px;
        top: 5.5px;
        left: 23px;
    }

    #part2 .box {
        padding-top: 90px;
    }

    #part2 .detail {
        padding-left: 23px;
        margin-bottom: 7px;
    }

    #part2 .detail-text {
        margin-right: 9px;
    }

    #part2 .image {
        flex-direction: column;
    }

    #part2 .box .image div {
        width: 100%;
        height: 257.5px;
        max-width: initial;
        background-position: center center;
        background-size: cover;
        margin-right: 0;
        margin-bottom: 15.5px;
        flex: none;
    }

    .img1 { background-image: url('../img//main-img/intro01-mobile.png'); }
    .img2 { background-image: url('../img//main-img/intro02-mobile.png'); }
    .img3 { background-image: url('../img//main-img/intro03-mobile.png'); }
    .img4 { background-image: url('../img//main-img/intro04-mobile.png'); }

    #part3 {
        padding-bottom: 100px;
    }

    #part3 h2 {
        font-size: 20px;
    }

    #part3 .title {
        padding-bottom: 90px;
    }

    #part3 .tit-line {
        width: 222px;
        height: 26px;
        top: 9px;
    }

    #part3 .box {
        flex-direction: column;
    }

    #part3 .step {
        width: 100%;
        margin: 0;
        padding-bottom: 25px;
    }

    #part4 {
        margin-top: 110px;
        height: 74.7vw;
        background-image: url('../img/main-img/main_Banner-mobile.png');
        background-size: cover;
    }

    #part4 h2 {
        font-size: 20px;
    }

    #part5 {
        padding-top: 110px;
    }

    #part5 .tit-text {
        font-size: 20px;
    }

    #part5 .tit-line {
        width: 114px;
        height: 26px;
        margin: 0;
        top: 12px;
    }

    #part5 .address {
        font-size: 14px;
    }

    #part5 .detail {
        font-size: 12px;
    }

    #map {
        height: 450px;
    }
}