/* 고정 */
.header { position: fixed; top: 0; left: 0; right: 0; z-index :99999; }

nav>ul { text-align: center; margin-top: 34px; margin-bottom: 34px; }

nav>ul>li { display: inline-block; margin-right: 55px; font-size: 16px; }

nav>ul>li:last-child { margin-right: 0; }



