header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

#web-nav {
    height: 75px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s linear;
}

#web-nav ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#web-nav ul li {
    font-size: 16px;
}

#web-nav ul li:not(:last-child) {
    margin-right: 75px;
}

#web-nav ul li a {
    color: #ffffff;
}

#web-nav ul li a:hover {
    text-decoration: none;
}

.navbar {
    display: none;
}

/* Mobile */
@media screen and (max-width: 640px) {
    header {
        position: absolute;
        top: 0;
        right: 0;
        transition: background-color 0.1s ease-out;
    }

    #web-nav {
        display: none;
    }

    .navbar {
        display: block;
        padding-bottom: 30px;
    }

    .navbar-brand {
        display: none;
    }   

    .bg-light {
        background-color: rgba(0,0,0,0) !important;
    }

    .navbar-toggler {
        float: right;
        border-color: rgba(0,0,0,0) !important;
        padding: 0;
    }

    .navbar-collapse {
        padding-top: 50px;
    }

    .navbar {
        padding-top: 16px;
    }

    .nav-link {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}